@using ValhalaMusic.Models;
@model List<ProductoModel>
    

<h1>Productos</h1>

<a class = "btn btn-primary" asp-action="" asp-controller="ProductoControler">Agregar Producto</a>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Producto</th>
            <th>Stock</th>
        </tr>
    </thead>
    
