@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">PROYECTO</h1>
    <p>Valhalla_Music <a href="https://learn.microsoft.com/aspnet/core">Elias y Moises</a>.</p>
</div>
